<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmer.accounting"
    android:versionCode="1"
    android:versionName="1.00">

    <application
        android:allowBackup="true"
        android:backupAgent=".BackupAgent"
        android:fullBackupContent="@xml/full_backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoseSimpleAccounting.NoActionBar">

        <activity
            android:name=".customer.AddCustomerData"
            android:theme="@style/Theme.RoseSimpleAccounting.NoActionBar" />
        <activity
            android:name=".customer.GetCustomerData"
            android:theme="@style/Theme.RoseSimpleAccounting.NoActionBar" />
        <activity
            android:name=".transactions.AddTransactions"
            android:theme="@style/Theme.RoseSimpleAccounting.NoActionBar" />
        <activity
            android:name=".transactions.GetTransactionReport"
            android:theme="@style/Theme.RoseSimpleAccounting.NoActionBar" />
        <activity
            android:name=".customer.EditCustomerData"
            android:theme="@style/Theme.RoseSimpleAccounting.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="unused" />

    </application>

</manifest>